include LICENSE.txt
include README.md
include pyproject.toml

include setupbase.py
include pytest.ini
include .coverage.rc

include package.json
include lerna.json
include package-lock.json
include tsconfig.json
include tsconfig-base.json
include yarn.lock

# Documentation
graft docs
exclude docs/\#*
prune docs/build
prune docs/gh-pages
prune docs/dist

# Examples
graft examples

# Javascript files
graft ipydatawidgets/nbextension
graft packages
prune packages/**/node_modules
prune packages/**/coverage
prune packages/**/lib
prune packages/**/build
prune packages/**/test/build

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude *.tsbuildinfo
